@import "http://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../../images/pattern.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    background-position: right bottom 88%;
  }
}
.hero:after {
  position: absolute;
  right: 10%;
  top: 59%;
  content: url("/images/group.svg");
}
@media screen and (max-width: 768px) {
  .hero:after {
    display: none;
  }
}
.hero::before {
  content: url("/images/icons/leaf3.svg");
  bottom: -10%;
  left: 5%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .hero:before, .hero:after {
    display: none;
  }
}

.hero__container {
  background: url("../../images/sweets.png") left 100% center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 1.5555555556rem;
  padding-right: 10%;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 16%;
  }
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("../../images/icons/comp.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    width: 17.5555555556rem;
    height: 18.3333333333rem;
    background: url("/images/icons/comp.png") center center/contain no-repeat;
    margin-bottom: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number__icon {
  width: 24px;
  height: 24px;
  fill: white;
  margin-right: 10px;
}

.hamburger {
  position: fixed;
  width: 24px;
  height: 20px;
  flex-direction: column;
  display: inline-flex;
  justify-content: space-between;
  display: none;
  top: 3%;
  left: 93%;
  cursor: pointer;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.hamburger .hamburger__plank--active {
  opacity: 0.7;
}

.hamburger.hamburger__plank--active .hamburger__plank-top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  border-radius: 5px;
}

.hamburger.hamburger__plank--active .hamburger__plank-middle {
  opacity: 0;
}

.hamburger.hamburger__plank--active .hamburger__plank-bottom {
  transform: translateY(-5px) translateX(0) rotate(-45deg);
  border-radius: 5px;
}

.hamburger.hamburger__plank {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.hamburger .hamburger__plank:nth-of-type(2) {
  top: 11px;
}

.hamburger .hamburger__plank:nth-of-type(3) {
  top: 22px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  margin-right: 1.5rem;
  margin-top: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.7777777778rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 0.8333333333rem;
}

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--theme--white {
  background: #fff;
  color: #0b4d3c;
}
.btn--theme--white:hover {
  color: #fff;
  background: #0b4d3c;
}
.btn--theme--green {
  background: #0b4d3c;
  color: #fff;
}
.btn--theme--green:hover {
  color: #0b4d3c;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font-color--green {
  color: #0b4d3c;
}
.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.1111111111rem;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1.3888888889rem;
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
  }
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 0;
  }
}
.benefits__item::before {
  content: url("../../images/icons/shape.svg");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}

.benefit__image {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.1111111111rem;
  }
}

.benefit__svg {
  position: absolute;
  left: 1.6666666667rem;
  top: 1.5555555556rem;
}

.benefits-section {
  position: relative;
  background: url("../../images/icons/leaf2.svg") left top 40% no-repeat;
}
@media screen and (max-width: 480px) {
  .benefits-section {
    background: none;
  }
}
.benefits-section::before {
  content: url("../../images/icons/mal.svg");
  position: absolute;
  left: -1%;
  top: 70%;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    display: none;
  }
}

.section__slide-section {
  display: flex;
  justify-content: center;
  background-color: #F8FAF9;
  height: 100vh;
  min-height: 36.1111111111rem;
}

.slide__sweets-img-item {
  display: flex;
  background: url("/images/sweets-slide/sweets.png") center top -13% no-repeat, url("/images/sweets-slide/elipse-blue.png") center no-repeat, url("/images/sweets-slide/elipse-white.png") center top 75% no-repeat;
  height: 25rem;
  width: 50%;
}

.slide__sweets-img-item2 {
  display: flex;
  background: url("/images/sweetsblue.png") center top -13% no-repeat, url("/images/sweets-slide/elipse-blue.png") center no-repeat, url("/images/sweets-slide/elipse-white.png") center top 75% no-repeat;
  height: 25rem;
  width: 50%;
}

.product {
  display: flex;
  width: 55.5555555556rem;
  position: relative;
  right: 0;
  flex-shrink: 0;
}

.container-slide-main {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  align-items: center;
}
.container-slide-main:before {
  position: absolute;
  content: url("../../images/sweets-slide/leaf-left.png");
  background-repeat: no-repeat;
  left: 5%;
  top: 20%;
}
.container-slide-main:after {
  position: absolute;
  content: url("../../images/sweets-slide/leaf-right.png");
  background-repeat: no-repeat;
  left: 40%;
  top: 75%;
}

.slider {
  position: relative;
  overflow: hidden;
  transition: opacity 0.105s ease;
}

.slide__text {
  width: 50%;
  margin: 0;
}

.main-title {
  font-size: 2rem;
  color: #000;
  width: 20.7777777778rem;
}

.calor__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20.3333333333rem;
}
.calor__main .calor-price {
  font-size: 3.3333333333rem;
  color: #000;
}

.green2 {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 0.2777777778rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 2.5;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  width: 8.6666666667rem;
  height: 3.3333333333rem;
}

.product__item.product {
  display: flex;
  align-items: center;
  width: 100%;
}

.ingredients {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background-color: #86C3D7;
  position: relative;
  border-radius: 0.2222222222rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.ingredients:hover .composition {
  opacity: 1;
  left: 100%;
}

.composition {
  position: absolute;
  top: 0;
  opacity: 0;
  left: -9999px;
  width: 16.875rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.2222222222rem;
}

.composition__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5555555556rem 1.4444444444rem;
}

.composition__text {
  display: flex;
  justify-content: start;
  width: 50%;
}

.slide__font {
  color: #F8FAF9;
}

.hero__block {
  display: flex;
  justify-content: space-between;
  width: 11.1111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__block {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}

.hero_bold {
  font-weight: bold;
  color: #000;
}
@media screen and (max-width: 768px) {
  .hero_bold {
    margin-right: 0.8888888889rem;
  }
}

@media screen and (max-width: 768px) {
  .product__item.product {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .slide__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hero__main-title.main-title {
    width: 80%;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero__title-desc {
    width: 70%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .slide__sweets-img-item {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .ingredients {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero__span {
    margin-right: 0.8888888889rem;
  }
}

.team__item {
  flex: 1;
  text-align: center;
  margin-right: 20px;
  max-width: 14.44444rem;
  position: relative;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  transition: height 0.3s;
  height: 5.5555555556rem;
}

.team__title {
  color: #000;
  display: inline-flex;
  font-weight: bold;
  font-size: 1.1666666667rem;
  align-items: center;
  border: none;
  background: none;
}

.team__member {
  padding-bottom: 1.1666666667rem;
}

.team--version--mobile {
  display: none;
}

.team__content-block {
  font-size: 1rem;
  line-height: 1.1666666667rem;
  font-weight: 300;
}

.team__title--item {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.reviews {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__display {
  background: #f8faf9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}
.reviews__display::before {
  content: url("../../images/icons/bush.svg");
  position: absolute;
  left: 86%;
}

.reviews__display.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 56px;
  }
}

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.4444444444rem;
  flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.3333333333rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  position: relative;
  flex: 1;
  margin-left: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    display: flex;
    justify-content: center;
  }
}

.reviews__text {
  display: block;
  padding-bottom: 1.2222222222rem;
  width: 25.7222222222rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 768px) {
  .reviews__author {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  margin-right: 0.3333333333rem;
  margin-top: 0.8333333333rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  position: relative;
  cursor: pointer;
}

.reviews__switcher-item:hover {
  border-color: green;
}

.interactive-avatar__img {
  border: none;
}

.reviews__switcher-item.active {
  border-color: green;
}

.interactive-avatar__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.section.reviews-section {
  background: url("../../images/icons/bar1.svg") right 10% top 15% no-repeat;
  position: relative;
}
.section.reviews-section:before {
  content: url("/images/icons/leaf4.svg");
  position: absolute;
  top: 82%;
  left: -1%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .section.reviews-section:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section.reviews-section:before {
    display: none;
  }
}
.section.reviews-section:after {
  content: url("/images/icons/bar3.svg");
  position: absolute;
  top: 90%;
}
@media screen and (max-width: 768px) {
  .section.reviews-section:after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .section.reviews-section:after {
    display: none;
  }
}

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.order-section {
  background: url("../../images/fon02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_bar {
  position: relative;
}
.container_bar::before {
  content: url("/images/icons/bar2.svg");
  position: absolute;
  top: 100%;
  left: 2%;
}
.container_bar::after {
  content: url("/images/icons/leaf6.svg");
  position: absolute;
  top: 80%;
  left: 85%;
}
@media screen and (max-width: 768px) {
  .container_bar::before, .container_bar::after {
    display: none;
  }
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    padding-right: 6.5555555556rem;
    padding-left: 6.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding-left: 1.6666666667rem;
    padding-right: 1.6666666667rem;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  padding: 0 0;
}

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 36px;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
.form__input:focus {
  outline: none;
  border-color: #DEE2BD;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 1.3333333333rem;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url(../../images/check.svg) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  border-radius: 50%;
  position: relative;
  background: #fff;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__title {
  margin-right: 0.5555555556rem;
  border-radius: 4px;
}

.section-map {
  height: 100vh;
}

.map {
  height: 100%;
  width: 100%;
}

.img-map {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2777777778rem 0;
  background: #fff;
  height: 4.7777777778rem;
}
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    align-items: center;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    line-height: 0.9444444444rem;
    margin-top: 0.3333333333rem;
  }
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 0.7777777778rem;
  cursor: pointer;
  width: 1.2777777778rem;
  height: 1.2777777778rem;
  fill: #b3b3b3;
}
@media screen and (max-width: 480px) {
  .socials__item {
    margin-top: -0.4444444444rem;
  }
}
.socials__item .phone-number.number__under {
  display: flex;
}
.socials__item:last-child {
  margin-right: 0;
}

.icon_svg {
  fill: #497870;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  margin-right: 0.2777777778rem;
}

.phone-number__green {
  color: #497870;
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__phone {
  color: #0b4d3c;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 4%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
  position: relative;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border: 0.0555555556rem solid transparent;
  border-radius: 50%;
  display: block;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #ffffff;
}

.overlay {
  position: fixed;
  background: #2e3133;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.overlay--open {
  opacity: 0.99;
  visibility: visible;
  height: 100%;
}

.overlay.overlay--open .overlay-menu__item {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay-menu {
  position: absolute;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

.overlay-menu__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}

.overlay-menu__item {
  display: block;
  position: relative;
  line-height: 1;
  opacity: 0;
}

.overlay-menu__item:after {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.overlay-menu__item:last-child:after {
  display: none;
}

.overlay-menu__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
.body-active-menu {
  overflow: hidden;
}

.btn-close {
  color: #fff;
  font-size: 14px;
  font-family: Helvetica;
}